*, ::after, ::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px;
    margin : 0px;
}
:root {
    --main-color : #ec407a;
    --main-trans : 0.3s;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Nunito', sans-serif !important;
}
ul {
    list-style: none;
    padding: 0px;
    margin : 0px;
}
a {
    text-decoration: none !important;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}
input:focus,
textarea:focus  {
    outline: none;
}


/* --------- Start Styling -------------- */

/* --- Start Header --- */
/* nav {
    background-color: #fbfbfb;
} */
nav .logo {
    width: 70px;
}
nav .links {
    gap: 15px;
}
nav .nav-item {
    color: #333;
    font-weight: 600;
}
nav .navbar-toggler {
    margin-left: auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    margin-right: 10px;
    width: 43px;
}
.navbar-toggler-icon{
    width: 35px !important;
}
.navbar-toggler {
    border: none;
    background-color: transparent !important;
}
nav .icon-toggler {
    font-size: 25px;
    color: #fff
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0 !important;
    box-shadow: 0 0 0 !important;
}
.toggle-switch {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
/* --- End Header --- */


@media (max-width: 991px) {
    nav .navbar-collapse {
        position: absolute;
        top: 96px;
        left: 0;
        width: 100%;
        background: rgb(0 0 0 / 65%);
        padding: 0px;
    }
    nav .nav-link {
        text-align: center;
    }
    nav .nav-link:hover {
        background: #3f3f3f;
        text-align: center;
    }
    nav .nav-item {
        color: #fff;
        font-weight: 600;
    }
}